#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:2250px;
    width:100px;
    float:left;
    padding:5px;          
}
textarea {
    height: 100px;
    width: 100%;
}
input .season {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
h2 {
    text-align:center;
}